.typesSelectChips {
  display: flex;
  flex-wrap: wrap;
}

.foundedIconsContainer {
  overflow: auto;
  flex: 1;
}

.foundedIconsButton {
  align-self: flex-start;
}

.pagination {
  align-self: center;
}