.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.noData {
  text-align: center;
}

.listRoot {
  overflow: auto;
  flex: 1;
}

.cashesUl {
  padding: 0;
}

.cashItem {
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto auto;
}

.desctiptionCell {
  grid-row-start: 2;
  grid-column: 2 / 4;
}

.total span {
  display: inline-block;
}

.totalValue {
  direction: ltr;
}

.totalCell {
  direction: ltr;
}