.tabPanel {
  display: grid;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(50px, auto));
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
}

.cardLabel {
  flex-direction: column;
}

.cardLabel > div {
  font-size: medium;
}

.lastCard {
  flex: 1;
}