.modalContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.emptyBox {
  flex: 1;
}

.body {
  flex: 1;
  overflow: auto;
  display: grid;
  grid-auto-rows: max-content;
}

.colorAndIconContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.dialogSelect {
  justify-content: flex-end;
}

.colorDialogBox, .iconDialogBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.colorDialogHeader, .iconDialogHeader {
  display: flex;
  align-items: center;
}

.colorDialogBody, .iconDialogBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.colorDialogBody {
  align-items: center;
  justify-content: center;
}

.colorDialogFooter, .iconDialogFooter {
  display: grid;
  grid-template-columns: auto auto;
}