.modalContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.emptyBox {
  flex: 1;
}

.body {
  flex: 1;
  overflow: auto;
}

.dialogSelectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.datesGrid {
  flex-direction: column;
}

.pickersRtl :global .MuiDialogActions-root {
  flex-direction: row-reverse;
}

.totalContainer {
  display: flex;
  flex-direction: row;
}

.descriptionInput {
  flex: 1;
}

.currencySelect {
  max-width: 70px;
  text-align: center;
}